@import "tailwindcss";
@import "tw-animate-css";

:root {
  --primary: #000000;
  --secondary: #7c8db5;
  --white: #ffffff;
  --border: #e6edff;
  --indigo: #347ae2;
  --red: #ff3b30;
  --green: #34c759;
  --orange: #ff9500;

  /* foreground / background cho nền sáng */
  --background: #ffffff;
  --foreground: #000000;
}

.dark {
  --primary: #ffffff;
  --secondary: #7c8db5;
  --white: #000000;
  --border: #2a2a2a;
  --indigo: #347ae2;
  --red: #ff453a;
  --green: #30d158;
  --orange: #ff9f0a;

  --background: #121212;
  --foreground: #ffffff;
}

/* border select */
.custom-border-gradient {
  border: 1px solid transparent;
  background-image: linear-gradient(white, white),
    linear-gradient(to bottom, #c4c4c4, #f3f3f3);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

/* Hiệu ứng hover + màu gradient tái sử dụng */
.btn-hover-effect {
  background-image: linear-gradient(to right, #00a10b, #00c90d);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  transform: scale(1);
  cursor: pointer;
}

.btn-hover-effect:hover {
  background-image: linear-gradient(to right, #00c90d, #00a10b);
  transform: scale(1.05);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.25);
}

.btn-hover-effect:active {
  transform: scale(0.95);
}

/* hidden scrollbar */
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

/* style arrow left và right for select day */
.rdp-months {
  display: block !important;
}
.rdp-button_previous {
  position: absolute !important;
  right: 48px !important;
  top: 6% !important;
  transform: translateY(-50%) !important;
  display: flex !important;
  align-items: center !important;
  /* color: green !important; */
}
.rdp-button_next {
  position: absolute !important;
  right: -18px !important;
  top: 6% !important;
  transform: translateY(-50%) !important;
  display: flex !important;
  align-items: center !important;
  /* color: green !important; */
}
